body{
	font-family: Verdana,sans-serif;
	margin: 0;
	padding: 0;
	background-color: #D2E8E8;
}

h1,h2,h3{
	margin: 0;
}

img {
	border: 0;
	display: block;
}

#wrap{
	width: 980px;
	margin: 20px auto 0 auto;
}

/* generic styles */

h1{
	color: #347454;
	font-weight : normal;
	text-transform: uppercase;
}

input, textarea{
	background-color: #d6deda;
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

nav ul li{
	display: inline-block;
}

p{
	font-size: 1em;
	margin: 0.9em 0;
}

ul li {
	font-size: 1em;
}

textarea {
	font-family: Verdana,sans-serif;
}

.clear {
	clear: both;
}

a{
	font-size: 1em;
	color: #347454;
}

a:visited{
	color: #347454;
}

a:hover{
	color: #65375D;
}

#global-content section header{
	background-color: #65375D;
	padding: 1em;
	color: #FFFFFF;
	margin-bottom: 0.5em;
}

#global-content section header h1{
	color: #FFFFFF;
	font-size: 1em;
}


/* btns */
.round_btn{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #347454;
	text-decoration: none;
	color: #FFFFFF;
}

.round_btn:hover{
	background-color: #65375D;
}

a.round_btn, a.round_btn :visited{
	color: #FFFFFF;
}

/* header */
#wrap header#main{
	border: 2px solid #347454;
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 0.2em;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	overflow:hidden;
}

#logo{
	float: left;
}

/* global content / content */ 
#global-content{
	padding: 1em;
	border-top: 1px dashed #666666;
	margin-top: 2em;
	overflow: hidden;
}
#global-content h1{
	font-size: 1.4em;
}

#global-content p{
	font-size: 0.9em;
}

#content {
	float:left;
	overflow: hidden;
	width: 680px;
}

/* SEARCH */
#global-search .search-input {
	width: 30em;
	border: 2px solid #65375D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.3em;
	background-color: #FFFFFF;
}

#global-search label {
	font-weight: bold;
}

#global-search .submit{
	position: relative;
	bottom: 2px;
	background-color: #65375D;
	border: 1px solid #65375D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 1em;
	color: #FFFFFF;
	padding: 0.5em;	
}

#global-search #search_term{
	width: 755px;
}

/* HOME */
#last-ads {
	background-color: #CCCCCC;
	overflow: hidden;
	padding: 0.5em;
	
}

#last-ads ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#last-ads li{
	border-bottom: 1px dashed #FFFFFF;
	padding: 0.4em 0;
}

#last-ads li:last-child{
	border:none;
}

#last-ads a{
	font-size: 0.8em;
}

#last-ads .img{
	margin-bottom: 0.5em;
}
#categories {
	background-color: #CCCCCC;
	padding: 0.5em;
	margin-right: 30px;
	width: 220px;
	float: left;
}

#categories h2{
	font-size: 1.1em;
	margin-top: 0.5em;
}

#categories a {
	font-size: 0.8em;
}

/* AD LIST */

#ads-list{
	background-color: #CCCCCC;
	padding-bottom: 0.5em;
}

#ads-list article{
	margin: 0.5em 0;
	overflow: hidden;
	padding: 0.5em;
}

#ads-list article .content{
	float: left;
	margin-left: 1em;
}

#ads-list article img{
	float: left;
	border: 1px solid black;
	width: 90px;
}

#ads-list article header{
	background-color: #347454;
	padding: 0.4em;
}

#ads-list article header h1{
	font-size: 0.8em;
	background-color: #347454;
}

/* footer */
footer{
	text-align: center;
	font-size: 0.7em;
	margin-top: 1.2em;
}

footer #footer-nav ul{
	margin: 0;
	padding: 0;
}

footer #footer-nav li{
	font-size: 0.8em;
	margin: 0px 0.5em;
}

footer #footer-nav a{
	color: #65375D;
}

footer #credits{
	background: #CCCCCC;
	color: #666666;
	padding: 0.3em;
	margin-bottom: 0.6em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
/* flash */ 
#flash_msg{
	margin-bottom: 1em;
	border: 1px dashed #666666;
}

.success{
	background-color: #C6FEA8;
	padding: 1em;
	font-weight: bold;
}

.error{
	background-color: #FF4444;
}

/* sign up - sign in */

#signup_box{
	margin: 0.5em 0;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	padding: 0.8em;
}

#signup_btn, #signin_btn{
	margin-top: 1em;
	margin-bottom: 1em;
}

#signup_btn a, #signin_btn a{
	padding: 0.5em;
}

/* form fields */
.field{
	margin: 0.6em 0em;
}

.field input{
	font-weight: bold;
}

.field label{
	color: #347454;
}

.actions input[type="submit"]{
	border: 1px solid #347454;
	background-color: #347454;
	color: #FFFFFF;
	border-radius : 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 0.3em 1.5em;
	margin: 1.2em 0em 0.5em 0;
	font-weight: bold;
}

.actions input[type="submit"]:hover{
	background-color: #65375D;
	border: 1px solid #65375D;
	box-shadow: 10px 10px 5px #888; 
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 2px 2px 3px #888;
}

/* logged-user-menu */
#logged-user-menu ul{
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 1em;
	margin-top: 1em;
}

#logged-user-menu li{
	margin: 0 0.5em;
}

#logged-user-menu li a{
	font-size: 1.1em;
	padding: 0.5em;
}

/* validations */
#errors-box{
	border: 1px dashed #666666;
	margin-bottom: 1em;
}

#errors-box header{
	background-color: #d52b2b;
	padding: 0.9em;
}

#errors-box header h1{
	font-size: 1em;
	margin: 0;
	color: #FFFFFF;
}

#errors-box ul{
	list-style: none;
	color: #65375D;
	font-weight: bold;
	padding: 0.3em;
	margin: 0.3em;
}

#errors-box ul li{
	padding: 0.4em 0;
	font-size: 0.7em;
	color: #D52B2B;
}

.field_with_errors input, .field_with_errors textarea{
	background-color: #d52b2b;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
}

.field_with_errors label{
	font-weight: bold;
	font-size: 1em;
}

/* admin */

#admin-menu{
	height: 3em;
}

#admin-menu ul {
	margin-left: -0.7em;
	margin-top: 1em;	
}

#admin-menu li{
	margin: 0 0.7em;
}

#admin-menu a{
	font-size: 0.9em;
	padding: 0.4em;
}

.admin-tab{
	border-collapse: collapse;
}

.admin-tab th, .admin-tab td{
	padding: 0.3em 1.8em;
	border: 1px dashed #999999;
}

.admin-tab th {
	background-color: #65375D;
	color: #FFFFFF;
}

.tip{
	background: #CCCCCC url("/images/tip.png") no-repeat 5px 5px;
	color: #000000;
	padding: 1em 0.7em 1em 2.7em;
	font-size: 0.8em;
	border: 1px dashed #999999;
	margin: 0.5em 0;
	display: inline-block;
}

.tip p{
	margin: 0;
	padding: 0;
}

.pic-preview{
	border: 1px dashed #999999;
	width: 90px;
	margin: 1em 0em 0.3em 0;
}
