<header id="main">
	<div id="logo">
		<%= link_to  image_tag("logo.png",:alt => "Small ad"), root_path %>
	</div>
	
	<% if signed_in? %>
	<nav id="logged-user-menu">
		<ul>
			<li><%= link_to "My ads", my_ads_path, :class => "round_btn" %></li>
			<li><%= link_to "Logout", logout_path, :class => "round_btn" %></li>
		</ul>
	</nav>
	<% end %>
</header>